.node {
  width: 19px;
  height: 19px;
  outline: 1px solid #000;
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #7C83FD;
    border-radius: 100%;
  }

  50% {
    background-color: #96BAFF;
  }

  75% {
    transform: scale(1.2);
    background-color: #7DEDFF;
  }

  100% {
    transform: scale(1);
    background-color: #88FFF7;
  }
}

.node-wall {
  background-color: #753422;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #F48B29;
  }

  50% {
    transform: scale(1.2);
    background-color: #F48B29;
  }

  100% {
    transform: scale(1);
    background-color: #F48B29;
  }
}
