.homepage__container{
    margin: 50px 0px;
}

.pathfinding__container{
    padding: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.algo__info{
    flex: 0.8;
}

.visualize{
    flex: 0.2;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.external-btn{
    padding: 10px;
    border: 2px solid #000;
    width: 200px;
    margin: 10px;
    display: flex;
    border-radius: 30px;
    transition: all 0.2s;
}

.external-btn:hover{
  background: #F48B29;
  color: #fff;
}

.visualizer-link, .game-icon{
    margin: 5px 10px; 
}